/* 기본 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #fff7e6; /* index 페이지와 동일한 배경 색상 */
}

/* 헤더 스타일 */
header {
    background-color: #ffcc99;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
}

/* 검색창 스타일 */
#search-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#search-input {
    width: 60%;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* 검색 결과 스타일 */
#search-results {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe-item {
    background-color: #f9f9f9;
    padding: 15px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 200px; /* 각 레시피 항목의 너비 */
    text-align: center;
}

.recipe-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.recipe-name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    color: #333;
}

/* 메인 화면 스타일 (초기 표시용) */
#main-content {
    display: block;
}

/* 메인 화면 숨기기 */
#main-content.hidden {
    display: none;
}
