body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffeb3b;
    text-align: center;
    padding: 20px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

form {
    width: 300px;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    font-size: 16px;
}
